* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #b49cc7;
}
.container {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.container h1 {
  font-size: 50px;
}
.container .timer {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 40px;
  font-weight: 600;
}
.container .btns {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.container .btns button {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  font-size: 20px;
  background-color: rgb(50, 9, 88);
  color: #fff;
  cursor: pointer;
  border-color: transparent;
}
button:hover {
  opacity: 75%;
}
