* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
body {
  background-color: #e0e1dd;
}
.container {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.container h1 {
  font-size: 60px;
}
.container .startgame {
  width: 300px;
  height: 50px;
  background-color: #778da9;
  font-size: 25px;
  color: #fff;
  border: transparent;
  cursor: pointer;
  border-radius: 15px;
}
.container p {
  font-size: 20px;
  font-weight: 700;
}
.container .input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  align-items: center;
}
.container .input input {
  width: 220px;
  height: 50px;
  padding: 10px;
  border: black;
  border-radius: 10px;
}
.container .input .guess {
  width: 80px;
  height: 50px;
  border: transparent;
  border-radius: 10px;
  background-color: #415a77;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.container progress{
    width: 500px;
    height: 50px;
 
}