* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 200px;
}
.container .header{
    background-color: rgb(229, 192, 237);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 100px;
    border-radius: 50px;
}
.container h1 {
  font-family: "Sevillana", cursive;
  letter-spacing: 3px;
}
.container button{
    width: 300px;
    height: 50px;
    border-radius: 30px;
    border: transparent;
    color: white;
    font-size: 20px;
    background-color: rgb(14, 18, 40);
    cursor: pointer;
}
